body {
  background-color: beige;
  color: black;
}

/* .background-image {
  background-size: cover;
  background-position: center;
}
.background-image: :after {
  background-image: url('../images/field.JPG');
  background-size: cover;
  background-position: center;
  opacity: 0.4;
} */

h3 {
    background-color: #cc9933;
    padding: .5rem;
    width: 110%;
    padding-left: 5%;
}

h6 {
  margin-top: 0.5rem;
}
.main-header {
  background-image: url('../images/field.JPG');
  color: gold;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 1);
  padding: 50px;
}

.intro {
  margin-top: 100px;
}

/* nav a{
  font-size: 1.25em;
  font-weight: 400;
} */

.navbar {
  padding: 0 0.5rem !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8);
}

.nav-link {
  padding: 0 0.5rem;
}

.nav-item: :active {
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.15);
}

.pedigree {
  margin-top: auto;
  margin-bottom: 15px;
}

.pedigree-box {
  border: 2px solid #cc9933;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.pedigree-montana {
  height: 250px;
}
.row {
  margin: 2px 0;
}

.parents {
  left: 20px;
}

.bg-light {
  background-color: #cc9933 !important;
}

.d-block {
  height: 550px;
  width: auto;
}

.welcome {
  margin: 0 0 0 65px;
  font-weight: 400;
}

.OTSC-header {
  margin-left: 50px;
}

.bottom-band {
  height: 30px;
  width: 100%;
  background-color: #cc9933;
}

div.gallery {
    border: 2px solid beige;
}

div.gallery:hover {
    border: 1px solid #777;
    border-radius: .25rem;
}

div.gallery img {
    width: auto;
    height: 10rem;

}

* {
    box-sizing: border-box;
}

.responsive {
    margin-bottom: .5rem;
    padding: 0 6px;
    float: left;
    width: 24.9%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.9%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
